<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>TestPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="getArtistDetails(artistName)">
    <ion-item>
      <ion-label position="floating">Artist</ion-label>
      <ion-input [(ngModel)]="artistName" name="artistName" type="text"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Find Artist</ion-button>
  </form>

  <ion-card *ngIf="artist">
    <ion-card-header>
      <ion-card-title>
        <h2>{{ artist }}</h2>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Sección para mostrar las canciones -->
  <ion-list *ngIf="tracks.length > 0">
    <ion-list-header>
      <ion-label>Top Tracks</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let track of tracks">
      <ion-label>{{ track.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
