<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img src="../../assets/icon/userProfile.png" alt="Foto de perfil de usuario" class="profile">
      </ion-avatar>
      <ion-card-title>{{ usuario?.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Email: <span style="color: #fa8733;">{{ usuario?.email }}</span></h2>
      <br>
      <h2>Password: <span><ion-button fill="outline" size="small" (click)="changePassword()">Change
            password</ion-button></span></h2>
      <br>
      <h2>Playlists: <span><ion-button fill="outline" size="small" (click)="goToPlaylists()">Go to
            Playlists</ion-button></span></h2>
    </ion-card-content>
  </ion-card>
</ion-content>